.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

input {
  margin: 10px 0;
  padding: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
small {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
}