.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/2.jpg");
  padding: 14px 20px;
  color: white;
}

.navbar nav a {
  color: white;
  margin-left: 18px;
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

main {
  padding: 20px;
}